body {
    font-size: 14px;
}

p {
    font-size: 14px;
}

pre {
    font-size: 14px;
}

.golden { background-color:#ffe8aa; border-radius: 5px; padding: 12px;}
.blue { background-color:#f2f8ff; border-radius: 5px; padding: 12px;}
